html {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
}
body {
  overflow-x: hidden;
  margin-bottom: 200px;
}

:root {
  --purple: #952385;
  --base-viewport-size: 1920;
}

/*---------- Layout ----------*/
.pinwheel__container {
  padding-left: calc(((199 / var(--base-viewport-size)) * 100) * 1vw);
  padding-right: calc(((199 / var(--base-viewport-size)) * 100) * 1vw);
}

.pinwheel__row {
  display: flex;
}

.pinwheel__row * {
  flex: 1;
}

.pinwheel__col {
  /* display: flex;
  flex-direction: column; */
}

/*---------- Generic Classes ----------*/
.pinwheel__underline {
  text-decoration: underline;
}
.pinwheel__relative {
  position: relative;
}
.pinwheel__absolute {
  position: absolute;
}

/* Classes for all sections */
.pinwheel__heading {
  text-align: center;
  font-size: calc(((40 / 1920) * 100) * 1vw);
  margin-bottom: calc(((48 / 1920) * 100) * 1vw);
}
.pinwheel__text-left {
  text-align: start;
}
.pinwheel__text-justify {
  text-align: justify;
}
